.icon-left{
position: absolute;
left: 10px;
top: 10px;
}

.icon-right{
    position: absolute;
    right: 10px;
    bottom: 10px;
    }

    .season{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .summer{
        background-color: orange;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .summer i{
        color: red;
    }
    .winter{
        background-color: navy;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }
    .winter i{
        color: blue;
    }